@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: black;
}


header {
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/background/fumaca.png);
    background-position: top;
    background-repeat: no-repeat;
    padding: 0px 0px 30px 10px;
}

#divhead {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Roboto Condensed', 'Times New Roman', Times, sans-serif;
}

#konamiLogo {
    width: 130px;
}


.text {
    font-family: 'Roboto Condensed', 'Times New Roman', Times, sans-serif;
    color: white;
}


#mgs-top-text {
    font-weight: normal;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 0px 0px 15px 0px;

}

#mgsPortal {
    justify-content: center;
    display: block;
    margin: 0 auto;
    width: 200px;
}

.content {
    overflow: hidden;
}

.slides input {
    display: none;
}

.slide-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide-img img {
    border: 1px solid rgba(255, 255, 255, 0.253);
    max-width: 90vw;
    margin: 10px;
    transition: .6s;
    justify-content: center;
}

#slide1:checked ~ .s1{
    margin-left: 0;   
}

#slide2:checked ~ .s1{
    margin-left: -20%;   
}

/* .sliders:checked {
    background-color: white;
} */

.navigation {
    display: flex;
    justify-content: center;
}

.manual-btn {
    background-color: gray;
    border: none;
    padding: 4px;
    border-radius: 0px;
    cursor: pointer;
    margin: 4px;
}

.manual-btn:active  {
    background-color: white;
    border: none;
    transition: 0s;
}


.control-buttons {
    position: absolute;
}

button {

}