@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: black;
}


header {
    display: flex;
    justify-content: center;

}

h1 {
    color: white;
    font-size: 1.4em;
}

#logo {
    width: 15vw;
}
